{% extends 'empleados/base.html' %}


{% block aerolinea %}
    
    <h2>Iniciar sesión</h2>

  <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" style="padding: 0.5rem 1rem; background-color: #004080; color: white; border: none; border-radius: 4px; cursor: pointer;">
          Ingresar
      </button>
  </form>

  {% if form.errors %}
    <p style="color: red; margin-top: 1rem;">Usuario o contraseña incorrectos</p>
  {% endif %}

  <p style="margin-top: 1.5rem;">
      ¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>.
  </p>
{% endblock %}